In [1]:
pip install plotly

^C
Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: plotly in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (6.0.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (from plotly) (1.29.0)
Requirement already satisfied: packaging in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (from plotly) (24.2)

In [ ]:
pip install pandas

^C
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_white"
pio.renderers.default = 'notebook'

netflix_data = pd.read_csv("netflix_content_2023.csv")
netflix_data.head()

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
0,The Night Agent: Season 1,Yes,2023-03-23,"81,21,00,000",English,Show
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"66,51,00,000",English,Show
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"62,28,00,000",Korean,Show
3,Wednesday: Season 1,Yes,2022-11-23,"50,77,00,000",English,Show
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"50,30,00,000",English,Movie

#### Step:1 Cleaning and Preprocessing the "Hours viewed" column to prepare it for analysis.

In [3]:
netflix_data['Hours Viewed'] = netflix_data['Hours Viewed'].replace(',','', regex = True).astype(float)

netflix_data[['Title', 'Hours Viewed']].head()

                                 Title  Hours Viewed
0            The Night Agent: Season 1   812100000.0
1            Ginny & Georgia: Season 2   665100000.0
2   The Glory: Season 1 // 더 글로리: 시즌 1   622800000.0
3                  Wednesday: Season 1   507700000.0
4  Queen Charlotte: A Bridgerton Story   503000000.0

#### The “Hours Viewed” column has been successfully cleaned and converted to a numeric format. Now, I’ll analyze trends in content type to determine whether shows or movies dominate viewership. Let’s visualize the distribution of total viewership hours between Shows and Movies:

In [10]:
# aggregate viewership hours by contect type

content_type_viewership = netflix_data.groupby('Content Type')['Hours Viewed'].sum()
print(content_type_viewership)

Content Type
Movie    5.063780e+10
Show     1.077641e+11
Name: Hours Viewed, dtype: float64

In [11]:
pip install --upgrade plotly

Requirement already satisfied: plotly in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (6.0.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (from plotly) (1.29.0)
Requirement already satisfied: packaging in c:\users\surya\onedrive\desktop\projects\data analytics\netflix\.venv\lib\site-packages (from plotly) (24.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pio.renderers.default = 'browser'

In [13]:
fig = go.Figure(data=[
    go.Bar(
        x = content_type_viewership.index,
        y = content_type_viewership.values,
        marker_color = ['skyblue','salmon']
    )
])

fig.update_layout(
    title_text='Total Viewership Hours by Content Type (2023)',
    xaxis_title = 'Content Type',
    yaxis_title = 'Total Hours Viewed (in billions)',
    xaxis_tickangle = 0,
    height = 500,
    width = 800
)

fig.show()